*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    display: grid;
    height: 100vh;
    place-items: center;
    background-image: linear-gradient(45deg,
            hsl(251deg 49% 23%) 0%,
            hsl(249deg 47% 22%) 10%,
            hsl(247deg 45% 21%) 20%,
            hsl(245deg 43% 19%) 30%,
            hsl(243deg 40% 18%) 40%,
            hsl(242deg 37% 16%) 50%,
            hsl(236deg 38% 15%) 60%,
            hsl(231deg 40% 14%) 70%,
            hsl(227deg 40% 13%) 80%,
            hsl(224deg 39% 12%) 90%,
            hsl(222deg 36% 11%) 100%);
    color: #E5E7EB;
    line-height: 1.5;
}

h1,
h2 {
    font-size: 1.25rem;
    color: #E4E8EA;
}

#name,
#email,
label {
    font-family: inherit;
    display: block;
    margin-bottom: 1em;
    width: 100%;
    color: #9D9DA5;
}

label {
    font-size: 0.75rem;
}

#name,
#email {
    padding: 1em;
    background: transparent;
    border-radius: 1em;
    margin-bottom: 2em;
    border: 2px solid #4D5562;
}

input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}

fieldset .form-element label {
    background-color: #394050;
    padding: 1em;
    cursor: pointer;
    color: #868992;
    border-radius: 1em;
}

label[for=graphic-design] {
    margin-bottom: 2em;
}

input[type=checkbox]:checked+label {
    background-color: #652CD1;
    color: #E4E8EA;
}

.btn {
    display: block;
    cursor: pointer;
    color: #E4E7EA;
    background-image: linear-gradient(180deg,
            hsl(261deg 65% 50%) 0%,
            hsl(260deg 67% 51%) 11%,
            hsl(260deg 69% 53%) 22%,
            hsl(259deg 71% 55%) 33%,
            hsl(258deg 72% 56%) 44%,
            hsl(258deg 74% 58%) 56%,
            hsl(258deg 75% 60%) 67%,
            hsl(257deg 77% 62%) 78%,
            hsl(256deg 80% 64%) 89%,
            hsl(256deg 81% 65%) 100%);
    padding: 0.75em 2em;
    border-radius: 1em;
    border: none;
    font-family: inherit;
    font-size: 0.875rem;
    margin: 0 auto;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

form {
    padding: 2em;
    background-color: #212936;
    border-radius: 1em;
    max-width: 50%;
    min-width: 30rem;
    box-shadow: 1px 1px 6px 1px rgba(255, 255, 255, 0.15);
}

.step-two,
.step-three,
.step-final {
    display: none;
}

.step.active {
    display: block;
}

.step.inactive {
    display: none;
}

.step-container {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
}

.step-container span {
    font-size: 0.75rem;
    color: #616B85;
}

.dot-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.dot {
    display: inline-block;
    cursor: pointer;
    width: 1em;
    height: 1em;
    background-color: #394050;
    border-radius: 50%;
    transition: all .15s ease-in;
}

.dot.active {
    background-color: #652CD1;
    position: relative;
}

.dot.active::before {
    content: "";
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #39405066;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.success-title {
    text-align: center;
}